<h2>{{title}}</h2>

<input
  type="text"
  name="search"
  id="search"
  value=""
  size="50"
  placeholder="검색어를 입력하세요."
/>
<button>검색</button>
<br />

<a href="/write">글쓰기</a>
<br />

<div>
  <table>
    <thead>
      <tr>
        <th width="50%">제목</th>
        <th>작성자</th>
        <th>조회수</th>
        <th>등록일</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/detail">타이틀</a></td>
        <td align="center">작성자 이름</td>
        <td align="center">999999</td>
        <td align="center">12.22.22</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <a href="">&lt;&lt;</a>
  <a href="">&lt;</a>
  <a href="">1</a>
  <a href="">2</a>
  <a href="">3</a>
  <a href="">&gt;</a>
  <a href="">&gt;&gt;</a>
</div>
<p>{{message}}</p>